/* CSS of this website  */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img1 {
    width: 50px;
    height: 50px;
}

#background {
    height: 100vh;
}

#colcontainer {
    height: 92vh;
    margin: 16px 98px;
}

.col:hover {
    box-shadow: 2px 2px 12px gray;
    transition: 0.9s;
    border-radius: 12px;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}

.service {
    text-align: center;
}

#reviewcontainer {
    display: flex;
    background-color: rgb(235, 225, 207);
    border-radius: 12px;
    height: 50vh;
    margin: 21px 77px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.reviewimg {
    height: 200px;
    width: 200px;
}

.flex1 {
    display: flex;
    height: 50vh;
    width: 63vh;
    justify-content: center;
    align-items: center;
}

.flex2 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* This is section  of footer  */

.containerfoot {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: wheat;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 59vh;
    margin: 12px 12px;
    padding: 2px 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 120vh;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

.item {
    display: flex;
    width: 16vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons {
    display: flex;
    height: 60px;
    justify-content: center;
}

.social {
    height: 17px;
    margin: 5px;
}


/* This is  section About   */

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.info1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
}

.i-primary {
    font-family: Nunito Sans, Arial, sans-serif;
    font-feature-settings: "lnum";
    font-size: 36px;
    font-weight: 200;
    letter-spacing: normal;
    line-height: 48px;
    text-transform: none
}

.g-primary {
    font-family: Nunito Sans, Arial, sans-serif;
    font-feature-settings: "lnum";
    font-size: 25px;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 48px;
    text-transform: none
}


/* Utility class */

.p-primary {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.s-primary {
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
}

.style-primary {
    font-family: 'Pacifico', cursive;
    font-size: 34px;
}

#textalign {
    margin: 2px;
}

#contact1 {
    margin: 0px 0px 43px;
}

center .h-secondary {
    font-size: medium;
    text-align: center;
}

.services {
    margin: 34px;
    display: flex;
}

.h2,
h2 {
    font-size: 2rem;
    text-align: center;
}

.services .box {
    /* border: 2px solid brown; */
    /* width: 20%; */
    padding: 34px 11px;
    margin: 3px 21px;
    border-radius: 23px;
    /* background-color: rgb(255, 199, 199); */
}

.services .box:hover {
    box-shadow: 2px 2px 15px 2px gray;
    cursor: pointer;
    transition: 1s;
}

.services .box img {
    height: 126px;
    display: block;
    margin: auto;
}

.btn-danger {
    border-radius: 33px;
    padding: 5px 7px;
    border: 0px solid;
    font-size: 12px;
}

.containerimg {
    width: 150px;
}